.neurogen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .neurogen-img-container {
        width: 100%;
        height: 100%;

        &__img {
            width: 100%;
            height: 700px;
            background: url(/src/assets/img/psilocybe-1.jpg) top/cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    }
}

@media screen and (min-width: 720px) {
    .neurogen-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50vh);
        grid-template-areas: 
        'b a'
        'c a'
        ;

        .neurogen-tlt {
            grid-area: b;
        }

        .neurogen-img-container {
            grid-area: a;
            &__img {
                height: 100%;
            }
        }
    
        .neurogen-txt {
            grid-area: c;
        }
    }
}