---
const neurogen = [{
    title: 'consulta 1:1',
    cta: 'lo quiero',
    txt: 'Te acompaño en el proceso de transición a una alimentación vegetal. Ofrezco consultas online para adaptarme a tu horario y comodidad. A través de los encuentros, podemos cubrir tus necesidades nutricionales, establecer objetivos y lograr que tu alimentación se ajuste a tu estilo de vida.',
    path: 'https://wa.link/jfca42'
},
{
    title: 'programas',
    cta: 'proximamente',
    txt: 'Programas grupales online. Clases sincrónicas, grupo de Whatsapp de acompañamiento, guía, recetario, mosaico de menú y lista de compras. Cupos limitados, consulta por tu lugar.',
    path: '#'
},
{
    title: 'suplementación',
    cta: 'lo quiero',
    txt: 'Podrás enviar por mail los resultados de tu laboratorio sin la necesidad de agendar una consulta de nutrición.Luego de evaluarlos, te voy a indicar por mail la suplementación de vitamina b12 y vitamina D que necesites.',
    path: 'https://docs.google.com/forms/d/1QhmJ1RtJ5Mryay6RKAlXJHOJZ5d6qPZwHDWQqqpcx_E/edit'
}]
---

<div id="neurogen" ></div>
<h1 class="serv-container__tlt">02. Microdosing NeuroGen </h1>
<section class="serv-container">
    <p>
        NeuroGen es un producto de LimongoLAB donde se aplica la metodología Stamets Stack. Es decir, Melena de León y Hongo Psilocibe Cubensis. LimongoLAB decidió, temporalmente, no incorporar Niacina debido a que aún estamos en proceso de asesoramiento médico, ya que esta sustancia puede tener impactos no deseados en el organismo. LimongoLAB recomienda su consumo solo con supervisión médica.
    </p>
</section>