---
---

<div id="neurogen"></div>
<section class="neurogen-container">
    <h1 class="neurogen-tlt">02. Microdosing NeuroGen</h1>
    <div class="neurogen-txt">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem rem fugit numquam, repellat praesentium expedita, beatae quod omnis rerum placeat quam at incidunt quis laudantium doloribus mollitia quisquam vero vel?
        </p>
    </div>

    <div class="neurogen-img-container">
        <div class="neurogen-img-container__img"></div>
    </div>
</section>