---
import Phone from '../icons/Phone.astro';
import Mail from '../icons/Mail.astro';
import Instagram from '../icons/Instagram.astro';
import Tiktok from '../icons/Tiktok.astro';
import Youtube from '../icons/Youtube.astro';
import Linkedin from '../icons/Linkedin.astro';
---
<footer class="contact-container" id="contact">
    <section class="contacts">
        <h1>Contacto</h1>
        <div class="contacts__phone"><Phone /> <p>011- 15 2408 8209</p></div>
        <div class="contacts__mail"><Mail /> <p>consultas.nutricionvegana@gmail.com</p></div>
    </section>

    <section class="social-media">
        <div class="followme">
            <h1>¡Seguime en redes!</h1>
        </div>
        <div class="profiles">
            <div>
                <a target="_blank" href="https://www.instagram.com/nutricion.vegana/?hl=es-la"><Instagram /></a>
            </div>

            <div>
                <a target="_blank" href="https://www.tiktok.com/@nutricion.vegana"><Tiktok /></a>
            </div>

            <div>
                <a target="_blank" href="https://www.youtube.com/channel/UCtqC-X4VyKII8YP-vSkRuYg"><Youtube /></a>
            </div>

            <div>
                <a target="_blank" href="https://www.linkedin.com/in/licmelinavillafane/"><Linkedin /></a>
            </div>
        </div>
    </section>
</footer>