---
import { Image } from 'astro:assets';
import TabletImage from '../../../../assets/img/img-tablet-sect4.png';
---
<div id="ecommerce"></div>
<section class="ecommerce-container">
    <h1 class="ecommerce-title">03. Tienda online</h1>
    <div class="ecommerce-container__bg"></div>
    <div class="ecommerce-container__cta">proximamente</div>
    
    <div class="ecommerce-container__img">
        <Image src={TabletImage} alt="image-tablet-ecommerce" class="ecommerce-img" />
    </div>
    
    
    <div class="ecommerce-container__txt">
        <ul class="ecommerce-ul">
            <li>Guia de alimentacion vegana</li>
            <li>Recetarios en pdf</li>
            <li>Lista de compras 100% vegetal</li>
            <li>Talleres</li>
            <li>Menu vegano para 14 dias</li>
        </ul>

        <div class="ecommerce-cta">ir a la tienda</div>
    </div>
</section>