---
import './footer.scss';
import GesPrenderLogo from './svg/Logo-Gesprender.astro';
---
<div class="credits">
    Hecho por <a href="https://gesprender.com/" target="_blank" class="gesprender">GesPrender.com </a> <span class="gesprender-logo"><GesPrenderLogo /></span>
</div>