.presentation-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .presentation-img-container {
        width: 100%;
        height: 100%;
        @include flex-column-center();
        
        .gif {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        /*         .presentation-img {
            width: 100%;
            height: 500px;
    
            background: url(/src/assets/img/mushroom-1.jpg) center/cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        } */
    }

}

@media screen and (min-width: 1024px) {
    .presentation-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;

        .presentation-txt {
            height: 100%;
            position: relative;
            bottom: -40%;
        }
        
        /* 
        .presentation-img-container {
        } */
    }
}