---
import Nav from '../../../../layouts/components/nav/Nav.astro';
---

<section class="presentation-container">
    <div class="presentation-title">
        <Nav />
        <div class="presentation-txt">
            <h1>Limongo.lab</h1>
            <p>Mundo Fungi. <br />
                Son descomposición, equilibrio y creación.
                Nutrición para nuestros sistemas neuronales y el entorno natural.
                Ofrecemos salud sustentable.
            </p>
        </div>
    </div>

    <div class="presentation-img-container">
        <div class="presentation-img"></div>
    </div>
</section>