.disable-knowmore {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
}

.view-knowmore {
    opacity: 1;
}

.knowmore-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;

    .knowmore-img {
        @include flex-row-center();
        align-items: flex-start;
        margin: 30px;
        height: fit-content;
        overflow: hidden;
        
        &__img {
            width: 80%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }

    .knowmore-txt {
        margin: 30px;
        @include flex-column-center();
        justify-content: flex-start;
        text-align: justify;

        p {
            margin: 0;
        }

        ul li {
            margin: 10px 0;
        }
    }
}

@media screen and (min-width: 720px) {
    .knowmore-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }
}