---
import { Image } from 'astro:assets';
import imageMelinaKnowmore from '../../../../assets/img/img-she-knowmore.jpg';
---
<section class="knowmore-container">
    
    <div class="knowmore-img">
        <Image src={imageMelinaKnowmore} alt="Melina Villafañe - nutricionista" class="knowmore-img__img"/>
    </div>

    <div class="knowmore-txt">
        <p>
            Mi nombre es Melina Villafañe. Soy Licenciada en Nutrición (MN:
            10601) egresada de la UBA (Universidad de Buenos Aires). <br />
            
            Me formé principalmente en Nutrición Vegetariana y Vegana, realizando
            diferentes cursos de posgrado y capacitaciones. 
        </p>

        <ul>
            <li>Curso de embarazo, lactancia, pediatría y alimentación basada en plantas. Unión de Nutricionistas de Argentina (UNA). 2020</li>
            
            <li>Curso de Nutrición del prematuro y Lactancia Materna. Ministerio de Salud de la Nación. 2020</li>

            <li>Certificación en Nutrición Deportiva. Gualda Training. ALIFID. 2020</li>
            
            <li>Diplomatura Universitaria en Nutrición Vegetariana y Vegana. UCES. 2021</li>
            
            <li>Diplomatura en Activismo y Política Socioambiental. Eco House Global. 2021</li>
            
            <li>Certificación Internacional en Psicología de la Alimentación. Instituto Vive Sano BRASIL. 2022</li>
            
            <li>Postgrado en Microbiota. Regenera University. 2022</li>
            
        </ul>
        
        <p>
            Realicé pasantías hospitalarias en el Departamento de Nutrición del Sanatorio Güemes y en el Hospital Municipal San Cayetano en San Fernando. 
            Soy vegana desde el año 2017. Veo el Veganismo como una filosofía de vida basada en el respeto hacia todos los seres sintientes. 
            Ademas, como nutricionista, creo firmemente en el poder de las plantas para promover una vida saludable. 
            Si no consumis animales o queres dejar de hacerlo, este es tu lugar. 
            Nada me hace más feliz que poder trabajar de lo que me encanta. Ofrezco consultas online para adaptarme a tu horario y comodidad. 
            Te ayudo a que tu alimentación sea variada, correctamente suplementada y de calidad. Mi objetivo es brindarte las herramientas necesarias para mantener un estilo de vida vegano y saludable a largo plazo. 
            Tambien elijo ampliar la mirada para que no se trate de decir qué o cuánto comer sino de encontrar junto a vos el camino para lograr tus metas, teniendo en cuenta tu individualidad, tus emociones y tu contexto. 
            ¡Animate a empezar este camino conmigo!
        </p>
    </div>
</section>
