
$neutral-50: #F9FAFB;
$neutral-100: #F3F4F6;
$neutral-200: #E5E7EB;
$neutral-300: #D1D5DB;
$neutral-400: #9CA3AF;
$neutral-400-50: #9CA3AF82;
$neutral-500: #6B7280;
$neutral-600: #4B5563;
$neutral-700: #232932;
$neutral-800: #14171d;
$neutral-900: #010408;

$green-100: #C8F4D4;
$green-200: #7CD394;
$green-300: #34A853;
$green-400: #158734;
$green-500: #065B1D;
$green-600: #054616;
$green-700: #032e0e;
$green-700-30: #032e0e4a;
$green-800: #021b08;
$green-900: #010e04;

$blue-100: #D3E2FC;
$blue-200: #90B8FC;
$blue-300: #4285F4;
$blue-400: #175ED3;
$blue-500: #0444AE;
$blue-800: #021c4a;
$blue-900: #010d22;

$pink-100: #F3BFCE;
$pink-200: #ED84A2;
$pink-300: #E83F6F;
$pink-400: #CB0D43;
$pink-500: #9F0632;
$pink-600: #810528;
$pink-700: #61041e;
$pink-700-30: #61041e4d;
$pink-800: #420415;
$pink-900: #25020c;

$yellow-100: #FFFBEB;
$yellow-200: #FEF3C7;
$yellow-300: #FDE68A;
$yellow-400: #FCD34D;
$yellow-500: #FBBF24;
$yellow-600: #ba8c19;
$yellow-700: #7a5c10;
$yellow-800: #513d0b;
$yellow-900: #291f05;


$body-color: #F5F4F4;
$main-green: #004919;
$main-gray: #737373;
$main-pink: #8E0152;

$nav-items: rgb(97, 97, 97);
$main-title: $main-green;