---
import './index.scss';
import Presentation from './components/presentation/Presentation.astro';
import Aboutus from './components/aboutus/Aboutus.astro';
import Neurogen from './components/neurogen/Neurogen.astro';
import Research from './components/research/Research.astro';
import Gallery from './components/gallery/Gallery.astro';
import Contact from './components/contact/Contact.astro';
---

<main id="body-container">
    <Presentation />
    <Aboutus />
    <Neurogen />
    <Research />
    <!-- <Gallery />
    <Contact /> -->
    <div id="pointer" class="pointer"></div>
</main>

<script>
    const body = document.getElementById('body-container');
    const pointer = document.getElementById('pointer')
    body?.addEventListener('mousemove', (e) => {
        pointer.style.top = e.pageY + 'px'
        pointer.style.left = e.pageX + 'px'
    })
</script>