@import '/src/assets/envs';
@import '/src/assets/mixins';
@import './components/presentation/presentation';
@import './components/aboutus/aboutus';
@import './components/aboutus/knowmore';
@import './components/neurogen/neurogen';
@import './components/research/research';
@import './components/gallery/gallery';
@import './components/contact/contact';

main {
    background-color: $body-color;
}

@media screen and (min-width: 720px) {
    main {
        background-color: $body-color;
        position: relative;
    
        div.pointer {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            border-radius: 50%;
    
            box-shadow: 0px 0px 100px 30px $main-pink;
            pointer-events: none;
            z-index: 1;
        }
    }
}